<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <p>i1</p>
        <textarea name="input1" rows="10" cols="30"></textarea>
        <p>i2</p>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <p>i3</p>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <p>i4</p>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>